<%= form_for @user do |f| %>
  <div class="row">
    <div class="col">
      <%= f.label :identifier, 'Номер карточки' %>
      <%= f.number_field :identifier, class: "form-control", placeholder: "Номер карточки" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :first_name, 'Имя' %>
      <%= f.text_field :first_name, class: "form-control", placeholder: 'Имя' %>
    </div>
    <div class="col">
      <%= f.label :middle_name, 'Фамилия' %>
      <%= f.text_field :middle_name, class: "form-control", placeholder: 'Фамилия' %>
    </div>
    <div class="col">
      <%= f.label :last_name, 'Отчество' %>
      <%= f.text_field :last_name, class: "form-control", placeholder: 'Отчество' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :age, 'Возраст' %>
      <%= f.number_field :age, class: "form-control", placeholder: "Номер карточки" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :address, 'Адрес' %>
      <%= f.text_field :address, class: "form-control", placeholder: "Адрес" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :phone, 'Телефон' %>
      <%= f.telephone_field :phone, class: "form-control", placeholder: "Телефон", data: {format: "+375 (ddd) ddd-dd-dd"} %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :diagnosis, 'Диагноз' %>
      <%= f.text_area :diagnosis, class: "form-control", placeholder: "Диагноз" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :date_operation, 'Дата операции' %>
      <%= f.date_field :date_operation, class: "form-control", placeholder: "Дата операции" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :interval, 'Дата явки' %>
      <%= f.date_field :interval, class: "form-control", placeholder: "Дата явки" %>
    </div>
  </div>

  <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
<!--  <p><%#= link_to 'Вернуться на главную', users_path %></p>-->
<% end %>
