<%= link_to 'Добавить пациента', new_user_path %>

<ol>
  <% @users.each do |user| %>
    <li>
      <p><b>Имя</b> <%= user.first_name %></p>
      <p><b>Фамилия</b> <%= user.middle_name %></p>
      <p><b>Отчество</b> <%= user.last_name %></p>
      <p><b>Возраст</b> <%= user.age %></p>
      <p><b>Диагноз</b> <%= user.diagnosis %></p>
      <p><b>Дата операции</b> <%= user.date_operation %></p>
      <p><%= link_to 'Изменить данные пациента', edit_user_path(user) %></p>
    </li>
  <% end %>
</ol>

<div class="alert alert-primary" role="alert">
  Это основное уведомление — check it out!
</div>