<%= link_to 'Добавить пациента', new_patient_path, class: 'btn btn-success', style: 'margin-bottom: 20px;' %>

<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Номер карточки</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Возраст</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>Дата операции</th>
    <th>Дата приёма</th>
    <th>Дата явки</th>
    <th>Обновить данные</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each_with_index do |patient, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= patient.identifier %></td>
      <td><%= patient.middle_name %></td>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.address %></td>
      <td><%= patient.phone %></td>
      <td><%= patient.operation_date.try(:strftime, "%d.%m.%Y") %></td>
      <td><%= patient.visit_date.try(:strftime, "%d.%m.%Y") %></td>
      <td><%= patient.visit_date + patient.interval * 30 %></td>
      <td><%= link_to 'Обновить', edit_patient_path(patient), class: 'btn btn-success btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
