<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Учреждение Здравоохранения</th>
    <th>Телефон</th>
    <th>Обновить данные</th>
  </tr>
  </thead>
  <tbody>
  <% @districts.each.with_index(1) do |district, index| %>
    <tr class="<%= 'not-completed' if @not_completed_district_ids.include?(district.id) %>">
      <th scope="row"><%= index %></th>
      <td class="link-scope"><%= link_to district.name, district_path(district) %></td>
      <td><%= district.phone %></td>
      <td class="buttons-block">
        <%= link_to 'Обновить', edit_district_path(district), class: 'btn btn-sm btn-success' %>
        <%= link_to 'Удалить', district, method: 'delete', data: { confirm: 'Вы действительно хотите удалить?'}, class: 'btn btn-sm btn-danger delete-patient' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
