<div class="container">
  <div class="row">
    <div class="col">
      <h3>Создать УЗ</h3><br />
    </div>
  </div>

<%= form_for @district do |f| %>
  <div class="form-group row">
    <%= f.label :name, 'Учреждение Здравоохранения', class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= f.text_area :name, class: "form-control", placeholder: 'Учреждение Здравоохранения', size: '20x5' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :decree_date, 'Дата приказа проверки', class: "col-sm-3 col-form-label" %>
    <div class="col-sm-3">
      <%= f.date_field :decree_date, class: "form-control", placeholder: 'Дата приказа проверки' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :completion_date, 'Дата исполнения', class: "col-sm-3 col-form-label" %>
    <div class="col-sm-3">
      <%= f.date_field :completion_date, class: "form-control", placeholder: 'Дата исполнения' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :performed, 'Выполнено/Не выполнено', class: "col-sm-3 col-form-label" %>
    <div class="col-sm-3">
      <%= f.select :performed, ['Не выполнено', 'Выполнено'], class: "form-control", placeholder: 'Выполнено/Не выполнено' %>
    </div>
  </div>
  <div class="form-group row">
    <%= label_tag '', '', class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= f.submit 'Сохранить', class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Назад', :back, class: 'btn btn-secondary btn-lg' %>
    </div>
  </div>
<% end %>
</div>
